<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>MMSmith Calc</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-center">MMSmith Calc</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <form method="post">
                <div class="row align-items-center">
                    <div class="col">
                        <input type="hidden" name="token" value="{{ csrf_token('calc') }}"/>
                        <label for="firstArg" class="form-label">First argument</label>
                        <input type="number" required step="any" name="arguments[0]" class="form-control" id="firstArg"
                               aria-describedby="firstargumenthelp" value="{{ arguments[0] }}">
                        <div id="firstargumenthelp" class="form-text">First argument</div>
                    </div>
                    <div class="col">
                        <label for="operand" class="form-label">Operation</label>
                        <select required class="form-select form-select-lg" name="operand" aria-label="Select operand"
                                aria-describedby="operandhelp">
                            <option value="sum" {{ operand=='sum'?'selected':'' }}>+</option>
                            <option value="multiply" {{ operand=='multiply'?'selected':'' }}>x</option>
                            <option value="subtract" {{ operand=='subtract'?'selected':'' }}>-</option>
                            <option value="divide" {{ operand=='divide'?'selected':'' }}>÷</option>
                        </select>
                        <div id="operandhelp" class="form-text">Choose the operation to do</div>
                    </div>
                    <div class="col">
                        <label for="secondArg" class="form-label">Second argument</label>
                        <input required type="number" step="any" name="arguments[1]" class="form-control" id="secondArg"
                               aria-describedby="secondargumenthelp" value="{{ arguments[1] }}">
                        <div id="secondargumenthelp" class="form-text">Second argument</div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Calc!</button>
                    </div>
                </div>
            </form>
            {% if result is defined %}
                <div class="row mt-5">
                    <div class="col-auto mx-auto">
                        <h3 class="{{ has_errors?'text-danger':'text-success' }}"><strong>{{ result }}</strong></h3>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>